<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HTML page 1</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<h1 align="center" style="color: white">HTML Elements</h1>
<img src="https://mdn.mozillademos.org/files/9347/grumpy-cat-small.png"
     class="center"
     alt="html1 img">
<small class="center" style="color: white"><i>January 15, 2019</i></small>
<br>
<div class="content center tranparDiv">
    <p>The main parts of our element are:</p>
    <ol>
        <li><b>The opening tag:</b> This consists of the name of the element (in this case, p), wrapped in opening and closing
            <b>angle brackets.</b> This states where the element begins or starts to take effect — in this case where the start
            of the paragraph is.
        </li>
        <li><b>The closing tag:</b> This is the same as the opening tag, except that it includes a forward slash before the
            element name. This states where the element ends — in this case where the end of the paragraph is.
            Failing to include a closing tag is a common beginner error and can lead to strange results.</li>
        <li><b>The content:</b> This is the content of the element, which in this case is just text.</li>
        <li><b>The element:</b> The opening tag plus the closing tag plus the content equals the element.</li>
    </ol>
</div>

<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>