<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Program page 1</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<h1 align="center" style="color: white">Program Design</h1>
<img src="https://miro.medium.com/max/1200/1*CDlclChuNeeM5Shfev2RTg.jpeg"
     class="center"
     alt="program1 img">
<small class="center" style="color: white"><i>January 9, 2019</i></small>
<br>
<div class="content center tranparDiv">
    <h2>Program Design</h2>
    <p>When writing a program you need to begin with a solid understanding of the problem you intend to solve.
        Then, move on to understanding the data you will be using in your solution. Your program will use data
        in variables, constants and literals. Your program will also contain data structures, files and
        data validation.</p>
</div>

<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>